.navbar
{
display: flex;
justify-content:space-between;
background-color:#d8d8d8fd;
min-height:50px;
align-items: center;
margin:10px;
box-shadow: 5px 10px 15px #888888;
position: relative;
}
.head-container
{
  position: sticky;
position: -webkit-sticky;
top: 0;
z-index:10;
}
.navbar a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight:900;
  padding:10px;
  text-decoration: none;
  color:black
}
.navbar a:hover{
  color:white
}
.icon-bell
{
background-size: 100%;
display: block;
width: 24px;
height: 24px;
background-image: url(https://previews.123rf.com/images/asmati/asmati1702/asmati170203130/71461906-bell-alarm-handbell-sign-black-icon-on-transparent-background-.jpg);
}